body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.layout-container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.top-bar {
  font-family: Inter, sans-serif;
  height: 47px;
  background: white;
  font-size: 13px;
}

.top-bar-inner {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;
}

.top-left {
  color: #c3c3c3;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: normal;
}

.header-mobile-logo {
  display: none;
}

.top-right {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 12px;
  color: #1b3967;
  line-height: 47px;
  flex-wrap: nowrap;
  font-weight: 600;
}

.top-icons {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 12px;
  color: #1b3967;
  line-height: 47px;
}

.top-icons a {
  text-decoration: none;
}

.mobile-subscribe {
  display: none;
}

.top-right span,
.top-right .login {
  position: relative;
  padding: 0 10px;
}

.bell {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

.header-main {
  font-family: Inter, sans-serif;
  height: 90px;
  display: flex;
  align-items: center;
  background: white;
  justify-content: space-between;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
}

.header-grid > :first-child {
  justify-self: start;
}

.header-grid > :last-child {
  justify-self: end;
}

.manchette {
  text-decoration: none;
  color: inherit;
  max-width: 200px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f5f8fb;
  padding: 10px;
}

.manchette img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.manchette-text h5 {
  font-family: Inter, sans-serif;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #1b3967;
  font-weight: 600;
}

.manchette-text p {
  font-family: Inter, sans-serif;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #005ac7;
  font-weight: 600;
}

.tag {
  font-size: 12px;
  color: gray;
}

.header-center {
  display: flex;
  justify-content: center;
}

.trending-topics {
  text-decoration: none;
  font-family: Inter, sans-serif;
  height: 40px;
  background: #f5f8fb;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  border-bottom: 1px solid #d0d7e2;
  font-weight: 600;
}

.trending-topics span {
  color: #005ac7;
  cursor: pointer;
  white-space: nowrap;
}

.layout-container.nav-bar {
  position: relative;
}

.nav-left {
  position: static;
}

.dropdown {
  position: static;
}

.nav-bar {
  font-family: Inter, sans-serif;
  height: 40px;
  display: flex;
  position: static;
  align-items: stretch;
  justify-content: center;
  background: #f5f8fb;
  width: 100%;
  font-weight: 600;
}

.nav-left {
  display: flex;
  flex: 1;
}
.nav-left > div {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: #1b3967;
  cursor: pointer;
  border-right: 1px solid #d0d7e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-live {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-left: auto;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-trigger i {
  width: 20px;
  height: 20px;

  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;

  width: 100%;
  max-width: 1024px;
  height: 551px;

  display: none;
  z-index: 999;

  padding: 24px 16px;
}

.dropdown-inner {
  width: 100%;
  max-width: 990px;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  margin: 0 auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.close-icon {
  align-self: flex-end;

  font-size: 10px;
  display: none;
}

.dropdown-search {
  height: 41px;

  background: #f5f8fb;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 12px;

  box-sizing: border-box;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 14px;
}

.city-item {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
  font-size: 14px;
  color: #1b3967;
  text-decoration: none;
}

.city-item i {
  font-size: 12px;
  color: #005ac8;
}

.menu-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 990px;
}

.menu-columns {
  width: 50%;
  padding-right: 16px;

  column-count: 2;
}

.menu-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-section {
  display: none;
}

.menu-item {
  width: 100%;
  font-size: 14px;
  color: #1b3967;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 14px;
  break-inside: avoid;
  cursor: pointer;
  text-decoration: none;
}

.menu-item i {
  font-size: 12px;
  color: #005ac8;
}

.news-col-menù {
  width: 100%;
  min-width: 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 219px);
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 0;
  box-sizing: border-box;
}

.news-col-menù * {
  text-decoration: none;
  color: inherit;
}

.news-card-menù {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.news-card-menù img {
  width: 100%;
  height: 123px;
  object-fit: cover;
  display: block;
}

.news-title-menù {
  font-size: 15px;
  margin-top: 6px;
}

.news-desc-menù {
  font-size: 13px;
  height: 48px;
  overflow: hidden;
  color: #555;
}

.speciali-menu {
  height: 272px;
  width: 1024px;
  background: white;
}

.speciali-inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.speciali-columns {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr;

  row-gap: 16px;
}

.menu-item-speciali {
  font-size: 14px;
  color: #1b3967;

  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.menu-item-speciali i {
  font-size: 12px;
  color: #005ac8;
}

.ultimora-menu {
  height: 128px;
}

.ultimora-inner {
  height: 100%;
}

.ultimora-grid {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ultimora-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.ultimora-top {
  display: flex;
  align-items: center;

  height: 13px;
}

.ultimora-label {
  font-size: 12px;
  color: #1b3967;
}

.ultimora-bottom {
  display: flex;
  align-items: flex-start;
}

.ultimora-title {
  width: 181px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;

  color: #1b3967;
}

.ultimora-link {
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-size: 12px;
  color: #005ac8;

  flex-shrink: 0;

  cursor: pointer;
}

.ultimora-link i {
  font-size: 10px;
}

.nav-right {
  width: 192px;
  gap: 12px;
  font-size: 13px;
  color: #1b3967;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.nav-right i.bi-search {
  padding-right: 6px;
}

.live-dot {
  width: 6px;
  height: 6px;
  background: #db0049;
  border-radius: 50%;
  flex-shrink: 0;
  display: inline-block;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  background: white;
  z-index: 1000;

  transform: translateY(-100%);
  transition: transform 0.3s ease;
  pointer-events: none;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.sticky-header.show {
  transform: translateY(0);
  pointer-events: auto;
}

.sticky-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sticky-left {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 700;
}
.sticky-left span:first-child {
  border-right: 1px solid #d0d0d0;
}

.sticky-center {
  display: flex;
  justify-content: center;
}

.sticky-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.sticky-left span,
.sticky-right span {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sticky-right a:not(:first-child, :last-child) {
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}

.sticky-right a{
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 700;
}

.icon {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.sticky-menu {
  display: flex;
  list-style: none;
  gap: 15px;
}

.sticky-dropdown-wrapper {
  position: relative;
}

.sticky-dropdown-wrapper:hover .sticky-dropdown {
  display: block;
}

.sticky-dropdown {
  display: none;

  position: fixed;

  top: 100%;
  left: 0;

  width: 100%;

  background: white;

  padding: 24px 16px;

  box-sizing: border-box;

  z-index: 9999;
}

.floating-bell {
  position: fixed;
  bottom: 16px;
  left: 16px;

  height: 65px;
  width: 65px;
  z-index: 3;
  background: #f5f8fb;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bell-icon {
  width: 65px;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 600;

  flex-shrink: 0;
}

.bell-text {
  font-size: 12px;
  color: #005AC7;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;

  max-width: 0;
  transition: max-width 0.2s ease;

  flex-shrink: 0;
}

.floating-bell:hover {
  width: 240px;
}

.floating-bell:hover .bell-text {
  max-width: 180px;
}

.most-read {
  max-width: 1024px;
  margin-top: 40px;
  font-weight: 500;
}

.section-title {
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  color: #db0049;
  margin-bottom: 16px;
  margin-top: 16px;
  line-height: 1;
}

.articles-row {
  display: flex;
  gap: 8px;
  margin: 0;
  justify-content: center;
}

.card {
  width: 198.4px;
  flex-shrink: 0;
  margin: 0;
  overflow: visible;
  text-decoration: none;
  color: inherit;
}

.image-wrapper {
  position: relative;
  overflow: visible;
}

.image-wrapper img {
  width: 100%;
  height: 114.8px;
  object-fit: cover;
  display: block;
}

.icon-top-right {
  position: absolute;
  top: 6px;
  right: 6px;
  color: white;
}

.desc_card {
  height: 51px;
  font-size: 13px;
  margin-top: 5px;
}

.section-divider {
  height: 250px;
}

.breaking-bar {
  width: 1024px;
  height: 22px;

  margin: 10px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breaking-left {
  text-decoration: none;
  width: 511px;
  height: 22px;
  gap: 6px;
  font-size: 18px;
  font-weight: 700;

  color: #db0049;

  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;

  background: #db0049;
  border-radius: 50%;

  display: inline-block;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.85);
  }
}

.label {
  font-weight: 700;
  color: #db0049;
}

.sep {
  color: #db0049;
}

.desc {
  color: #db0049;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.breaking-right {
  font-size: 14px;
  font-weight: 600;

  color: #404040;
  text-decoration: underline;

  cursor: pointer;
}

.featured-news {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.news-left {
  width: 486px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.news-category {
  height: 17px;
  text-decoration: none;
  font-size: 14px;
  color: #005ac8;

  margin-bottom: 12px;
}

.news-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  max-width: 100%;
  color: #404040;
  overflow-wrap: normal;
  word-break: normal;
  text-decoration: none;
  margin: 0 0 16px 0;
}

.news-title:hover{
  color: #555555;
}

.news-title a {
  color: #005ac8;
  text-decoration: none;
}

.news-title a:hover {
  text-decoration: underline;
}

.news-author {
  height: 17px;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
}

.news-links {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news-link {
  font-size: 16px;
  text-decoration: none;

  display: flex;
  gap: 6px;

  color: #404040;
}

.news-link .prefix {
  color: #005ac8;
  font-weight: 500;
}

.news-link:hover {
  text-decoration: underline;
  color: #005ac8;
}

.news-right {
  flex-shrink: 0;
}
.news-right img {
  width: 486px;
  height: auto;
  display: block;
}

.section-separator {
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;

  border-top: 1px solid #ddd;
}

.news-grid-section {
  width: 1024px;
  height: auto;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.news-card,
.side-news-column {
  padding: 0 16px;
  box-sizing: border-box;
}

.news-grid-section > .news-card:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.video-link {
  display: block;
  text-decoration: none;
}

.news-card {
  width: 100%;
  height: 321px;

  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

}

.card-category {
  height: 17px;

  font-size: 14px;
  color: #005ac8;
  text-decoration: none;
  margin-bottom: 10px;
}

.card-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;

  color: #404040;
  text-decoration: none;
  margin: 0 0 10px 0;
}

.card-title:hover {
  color: #555555;
}

.card-description {
  font-size: 12px;
  line-height: 18px;

  color: #505050;

  margin: 0 0 12px 0;
}

.card-author {
  height: 17px;

  font-size: 14px;
  color: #404040;
}

.side-news-column {
  width: 100%;
  height: 321px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-news {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.side-news:last-child {
  border-bottom: none;
}

.side-news a {
  text-decoration: none;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.side-news-img {
  display: none;
}

.news-title a:first-of-type {
  color: inherit;
  text-decoration: none;
}

.cities-widget {
  width: 944px;
  height: 667px;

  background: #e8f2ff;

  margin: 0 auto;
}

.cities-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #005ac8;

  padding: 20px;
}

.cities-header h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.cities-arrows button {
  width: 35px;
  height: 35px;
  background: white;
  border: none;
  border-radius: 50%;

  color: #005ac8;
  font-size: 20px;

  cursor: pointer;
}
.cities-arrows button:first-child {
  margin-right: 10px;
}

.cities-content {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.cities-main {
  width: 608px;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.cities-main img {
  width: 608px;
  height: 342px;
  object-fit: cover;
}

.city-name {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
  color: #005ac8;

}

.city-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 120%;
}

.city-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #525252;
}

.cities-side {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  width: 100%;
}

.slide {
  flex: 0 0 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  scroll-snap-align: start;
}

.side-item {
  display: flex;
  gap: 12px;
  color: inherit;
  text-decoration: none;
}

.side-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.side-city {
  font-size: 14px;
  font-weight: 700;
  color: #005ac8;

}

.side-title {
  font-size: 18px;
  font-weight: 800;
}

.section-divider2 {
  height: 100px;
}

.site-footer {
  width: 100%;
  height: 278px;

  background: #005ac8;
}

.footer-container {
  width: 100%;
  max-width: 1024px;
  height: 246px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-circle {
  width: 158px;
  height: 158px;

  background: #004aa6;
  border-radius: 50%;
  position: relative;
  top: -30px;
  left: -10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-size: 40px;
  font-weight: 700;
  color: #52A0FF;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.footer-rect {
  width: 50px;
  height: 81px;

  background: #004aa6;

  position: absolute;

  top: 0;
  left: 0;
}

.footer-main {
  width: 489px;
  height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 34px;
}

.footer-main-row {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 26px;

  color: #ffffff;
}

.footer-logo-main {
  font-weight: 800;
  font-size: 26px;

  color: #A3CDFF;

  letter-spacing: 1px;
}

.footer-main-text img {
  width: 203px;
  height: 26px;

  display: block;
}

.footer-main-desc {
  margin-top: 6px;
  height: 35px;

  font-size: 15px;
  line-height: 15px;

  color: #d9e6ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-main-titles {
  height: 60px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 6px;
}

.footer-main-titles img {
  display: block;
  object-fit: contain;
}

.footer-links {
  width: 337px;
  height: 166px;
  margin-top: 34px;
  display: flex;
  justify-content: flex-start;
  column-gap: 32px;
}

.links-col {
  display: flex;
  flex-direction: column;
}

.links-title {
  font-size: 12px;
  color: #C2DDFF;
  margin: 5px 0;

  font-weight: 700;
}

.links-col a {
  font-size: 12px;

  color: #ffffff;
  text-decoration: none;

  margin-bottom: 4px;
}

.links-col a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer-under {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  background: #0250b0;
}

.footer-under-container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.footer-under-left {
  font-size: 13px;
  color: #A3CDFF;
}

.footer-under-right {
  width: 390px;
  height: 13px;

  margin-left: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-under-right a {
  font-size: 13px;

  color: #ffffff;
  text-decoration: none;
}

.footer-under-right a:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 1023px) and (min-width: 768px) {

  .header-center img {
    width: 423px;
    height: 46px;
  }

}

@media (max-width: 1023px) {
  .nav-right {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {

  .dropdown-menu {
    width: 100%;
    max-width: 1024px;
    height: 362px;
    position: absolute;
    overflow: hidden;
  }

  .close-icon {
    display: block;
    font-size: 16px;
    align-self: flex-end;
    flex: 0 0 auto;
  }

  .dropdown-search {
    width: 100%;
  }

  .cities-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    display: grid;
    row-gap: 12px;

    max-height: 250px;
    overflow-y: auto;
  }

  .city-item {
    font-size: 16px;
  }

  .dropdown-inner {
    width: 100%;
    max-width: 990px;

    box-sizing: border-box;
  }

}
@media (max-width: 767px) {
  .dropdown-menu {
    width: 100%;
    height: 100vh;

    position: absolute;
    left: 0;

    overflow: hidden;
  }

  .dropdown-inner {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
  }

  .close-icon {
    display: block;

    font-size: 16px;

    align-self: flex-end;

    flex: 0 0 auto;
  }

  .dropdown-search {
    width: 100%;
    flex: 0 0 auto;
  }

  .cities-grid {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 14px;

    overflow-y: auto;

    flex: 1;

    padding-right: 4px;

    box-sizing: border-box;
  }

  .city-item {
    border-bottom: 1px solid #d0d7e2;
    width: 100%;
    height: auto;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .dropdown-menu-menù {
    height: 699px;
  }

  .menu-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .menu-columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    height: 100%;
    overflow-y: auto;
  }

  .menu-item {
    border-bottom: 1px solid #d0d7e2;
    margin-bottom: 0;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    color: #1b3967;

    cursor: pointer;
  }

  .menu-item i {
    font-size: 12px;
    color: #005ac8;
  }

  .menu-right {
    display: none;
  }

  .news-col-menù,
  .news-card-menù {
    display: none;
  }
}
@media (max-width: 767px){
  .close-icon {
    display: block;
    font-size: 16px;
    align-self: flex-end;
    flex: 0 0 auto;
    color: #404040;
  }
  .menu-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .menu-columns {
    width: 100%;

    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: auto;
  }

  .menu-section {
    display: block;

    font-size: 17px;
    font-weight: 700;

    color: #1b3967;

    padding: 12px 0 8px;

    border-bottom: 1px solid #d0d7e2;
  }

  .menu-item {
    width: 100%;
    min-height: 44px;

    border-bottom: 1px solid #d0d7e2;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #1b3967;

    cursor: pointer;
  }

  .menu-item i {
    font-size: 12px;
    color: #005ac8;
  }

  .news-col-menù,
  .news-card-menù {
    display: none;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {
  .speciali-menu {
    height: 296px;
  }

  .speciali-columns {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;

    overflow-y: auto;
  }

  .menu-item-speciali {
    border-bottom: 1px solid #d0d7e2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
  }
}
@media (max-width: 767px){
  .dropdown.dropdown-speciali {
    display: none;
  }
}

@media (max-width: 1023px) {
  .dropdown-menu.ultimora-menu {
    height: 110px;
  }

  .ultimora-inner {
    height: 100%;
  }

  .ultimora-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ultimora-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .ultimora-item:not(:first-child) {
    display: none;
  }

  .ultimora-item {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    min-height: 0;
  }

  .ultimora-link {
    padding-top: 0;
  }
}

@media (max-width: 767px){
  .sticky-header {
    height: 48px;
    background: #005ac7;
  }

  .sticky-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";
  }

  .sticky-right {
    display: none;
  }

  .sticky-center {
    grid-area: logo;
    justify-self: start;
  }

  .sticky-center img {
    width: 173px;
    height: 20px;
    object-fit: contain;
  }

  .sticky-left {
    grid-area: menu;
    justify-self: end;
    color: white;
    border-left: 1px solid white;
  }

  .sticky-left .dropdown-trigger {
    font-size: 0;
  }

  .sticky-left .dropdown-trigger::after {
    content: "☰";
    font-size: 22px;
    font-weight: 400;
  }

  .sticky-left .icon {
    display: none;
  }

  .sticky-dropdown {
    left: 0;
    right: 0;
    width: 100%;
    max-height: calc(100vh - 48px);
    overflow-y: auto;
  }
}

@media (max-width: 1023px) {
  .articles-row {
    gap: 6px;
  }

  .card {
    flex: 1;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .desc_card {
    font-size: 13px;
  }

  .layout-container.most-read {
    padding-inline: 16px;
  }
}
@media (max-width: 767px) {
  .most-read--primary {
    display: none;
  }

  .most-read--secondary {
    display: block;
  }
}

@media (max-width: 1023px) {
  .breaking-bar {
    width: 100%;
    max-width: 1024px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {
  .featured-news {
    width: 100%;
    max-width: 1024px;
    padding-inline: 16px;
  }

  .news-left {
    width: 486px;
  }

  .news-right img {
    width: 420px;
  }

}
@media (max-width: 767px) {
  .featured-news {
    width: 100%;
    max-width: 100%;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
  }

  .news-right {
    order: 1;
  }

  .news-right img {
    width: 100%;
    height: auto;
    display: block;
  }

  .news-left {
    order: 2;
    width: 100%;
  }

  .news-title {
    font-size: 26px;
    line-height: 32px;
  }

  .news-links {
    display: none;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {
  .news-grid-section {
    width: 100%;
    max-width: 1024px;

    padding-inline: 16px;

    height: auto;

    gap: 0;
  }

  .news-card,
  .side-news-column {
    min-width: 0;
    height: auto;
  }

  .news-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .card-title {
    font-size: 20px;
    line-height: 24px;
  }

  .card-description {
    font-size: 11px;
    line-height: 16px;
  }

}
@media (max-width: 767px) {

  .news-grid-section,
  .news-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .news-grid-section > .news-card:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .news-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
  }

  .news-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 12px;
    order: 1;
  }

  .card-category {
    order: 2;
  }

  .card-title {
    order: 3;
    font-size: 18px;
    line-height: 22px;
  }

  .card-description {
    order: 4;
  }

  .card-author {
    order: 5;
  }

  .side-news-column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .side-news {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
  }

  .side-news:last-child {
    border-bottom: none;
  }

  .side-news-img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 10px;
  }

}

@media (max-width: 1023px) {
  .cities-widget {
    width: 100%;
    height: auto;
  }

  .cities-content {
    flex-direction: column;
    gap: 20px;
  }

  .cities-main,
  .cities-side {
    width: 100%;
  }

  .cities-main img {
    width: 100%;
    height: auto;
    aspect-ratio: 608 / 342;
    object-fit: cover;
    display: block;
  }

  .cities-arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

}

@media (max-width: 1023px) {
  .site-footer {
    height: 386px;
  }

  .footer-container {
    width: 100%;
    height: 344px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer-circle {
    margin-left: -20px;
  }

  .footer-main {
    width: auto;
    flex: 1;

    min-width: 0;
  }

  .footer-links {
    margin-left: 138px;
    margin-top: 24px;
    flex-basis: 100%;
  }

  .footer-under {
    position: relative;
  }
}
@media (max-width: 767px) {

  .site-footer {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 16px;
    gap: 16px;
  }

  .footer-main {
    width: 100%;
    margin-top: -20px;
  }

  .footer-links {
    display: none;
  }

  .footer-under {
    height: 55px;
    padding: 8px 0;
  }

  .footer-under-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .footer-under-right {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .top-bar {
    position: relative;
    background: #005ac7;
  }
  .top-bar * {
    text-decoration: none;
    color: inherit;
  }

  .bi-newspaper {
    display: none;
  }

  .header-main {
    height: 60px;
    background: #005ac7;
  }

  .header-mobile-logo {
    display: block;
  }

  .header-grid {
    display: none;
  }

  .top-left {
    line-height: 47px;
  }

  .top-left .logo-quot {
    content: url("https://placehold.co/237x18");
    width: 237px;
    height: 18px;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .top-icons {
    display: flex;
    align-items: center;
  }

  .top-right .login span {
    display: none;
  }

  .top-right .login {
    color: white;
  }

  .top-right .newspaper {
    display: none;
  }

  .top-right .bell {
    color: white;
  }

  .mobile-subscribe {
    display: block;
    width: 55px;
    height: 15px;

    padding: 5px 14px;

    border: none;
    border-radius: 8px;

    background: white;
    color: #005ac7;

    font-size: 12px;
    font-weight: 600;
    line-height: 15px;

    box-sizing: content-box;

    cursor: pointer;
  }

  .bell {
    border-left: 0;
  }

  .manchette {
    display: none;
  }

  .header-center {
    display: none;
  }

  .trending-topics {
    display: none;
  }

  .nav-bar {
    margin-top: 0;
  }

  .top-bar,
  .header-main,
  .trending-topics {
    margin: 0;
  }

  .section-divider {
    display: none;
  }
}

