body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout-container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

/* TOP BAR 40px */
.top-bar {
  height: 47px;
  background: white;
  font-size: 13px;
}

.top-bar-inner {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;
}

.top-left {
  color: #c3c3c3;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 47px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1b3967;
}

.top-right span,
.top-right .login {
  position: relative;
  padding: 0 10px;
}

.bell {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

/* HEADER PRINCIPALE 90px */
.header-main {
  height: 90px;
  display: flex;
  align-items: center;
  background: white;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
}

/* SINISTRA + DESTRA (contenuti doppi) */
.manchette {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f5f8fb;
  padding: 10px;
}

.manchette img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.manchette-text h5 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #1b3967;
}

.manchette-text p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #005ac7;
}

.tag {
  font-size: 12px;
  color: gray;
}

/* CENTRO */
.header-center {
  display: flex;
  justify-content: center;
}

/*trending topics*/
.trending-topics {
  height: 40px;
  background: #f5f8fb;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  border-bottom: 1px solid #d0d7e2;
}

.trending-topics span {
  color: #005ac7;
  cursor: pointer;
  white-space: nowrap;
}

/*navbar*/

.nav-bar {
  height: 40px;
  display: flex;
  align-items: stretch;
  background: #f5f8fb;
  width: 100%;
}

/* parte sinistra (5 voci) */
.nav-left {
  display: flex;
  flex: 1;
}
.nav-left > div {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: #1b3967;
  cursor: pointer;
  border-right: 1px solid #d0d7e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-live {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-left: auto;
}

/* search fissa */
.nav-right {
  width: 192px;
  gap: 12px;
  font-size: 13px;
  color: #1b3967;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-right i.bi-search {
  padding-right: 6px;
}

.live-dot {
  width: 6px;
  height: 6px;
  background: #db0049;
  border-radius: 50%;
  flex-shrink: 0;
  display: inline-block;
}

/*sticky*/
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  background: white;
  z-index: 1000;

  transform: translateY(-100%);
  transition: transform 0.3s ease;
  pointer-events: none;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.sticky-header.show {
  transform: translateY(0);
  pointer-events: auto;
}

.sticky-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* SINISTRA */
.sticky-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sticky-left span:first-child {
  border-right: 1px solid #d0d0d0;
}

/* CENTRO */
.sticky-center {
  display: flex;
  justify-content: center;
}

/* DESTRA */
.sticky-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}
/* elementi sticky sinistra/destra */
.sticky-left span,
.sticky-right span {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.sticky-right span:not(:last-child) {
  border-right: 1px solid #d0d0d0;
}

.icon {
  cursor: pointer;
}

.sticky-menu {
  display: flex;
  list-style: none;
  gap: 15px;
}

/*floating campanella*/
.floating-bell {
  position: fixed;
  bottom: 16px;
  left: 16px;

  height: 65px;
  width: 65px;

  background: #f5f8fb;
  border-radius: 10px;

  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bell-icon {
  width: 65px;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  flex-shrink: 0;
}

.bell-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
  color: #005ac7;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.floating-bell:hover {
  width: 240px;
}

.floating-bell:hover .bell-text {
  opacity: 1;
}

/*piu letti*/
.most-read {
  max-width: 1024px;
  margin: 20px auto;
}

.section-title {
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  color: #db0049;
  margin-bottom: 16px;
  line-height: 1;
}

.articles-row {
  display: flex;
  gap: 8px;
  margin: 0;
  justify-content: center;
}

.card {
  width: 198.4px;
  flex-shrink: 0;
  margin: 0;
  overflow: visible;
}

/* *{
  outline: 1px solid red;
}*/

.image-wrapper {
  position: relative;
  overflow: visible;
}

.image-wrapper img {
  width: 100%;
  height: 114.8px;
  object-fit: cover;
  display: block;
}

.icon-top-right {
  position: absolute;
  top: 6px;
  right: 6px;
  color: white;
}

.desc_card {
  height: 51px;
  font-size: 13px;
  margin-top: 5px;
}

/*div*/
.section-divider {
  height: 250px;
}

/*breaking bar*/
.breaking-bar {
  width: 1024px;
  height: 22px;

  margin: 10px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breaking-left {
  width: 511px;
  height: 22px;
  gap: 6px;
  font-size: 18px;
  font-weight: 700;

  color: #db0049;

  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;

  background: #db0049;
  border-radius: 50%;

  display: inline-block;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.85);
  }
}

.label {
  font-weight: 700;
  color: #db0049;
}

.sep {
  color: #db0049;
}

.desc {
  color: #db0049;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.breaking-right {
  font-size: 14px;
  font-weight: 600;

  color: #404040;
  text-decoration: underline;

  cursor: pointer;
}

/*hero*/
.featured-news {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.news-left {
  width: 486px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.news-category {
  height: 17px;

  font-size: 14px;
  color: #005ac8;

  margin-bottom: 12px;
}

.news-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  max-width: 100%;
  color: #404040;
  overflow-wrap: normal;
  word-break: normal;

  margin: 0 0 16px 0;
}

.news-author {
  height: 17px;

  font-size: 14px;
  color: #404040;
}

.news-links {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news-link {
  font-size: 16px;
  text-decoration: none;

  display: flex;
  gap: 6px;

  color: #404040;
}

.news-link .prefix {
  color: #005ac8;
  font-weight: 500;
}

.news-link:hover {
  text-decoration: underline;
  color: #005ac8;
}

.news-right {
  flex-shrink: 0;
}
.news-right img {
  width: 486px;
  height: auto;
  display: block;
}

/*div*/
.section-separator {
  width: 1024px;
  margin: 20px auto;

  border-top: 1px solid #ddd;
}

/*layout colonne*/
.news-grid-section {
  width: 1024px;
  height: 567px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.news-card,
.side-news-column {
  padding: 0 16px;
  box-sizing: border-box;
}

.news-grid-section > .news-card:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.news-card {
  width: 100%;
  height: 321px;

  display: flex;
  flex-direction: column;
}

.news-card video {
  width: 100%;
  height: 172px;
  display: block;

  object-fit: cover;

  margin-bottom: 12px;
}

.card-category {
  height: 17px;

  font-size: 14px;
  color: #005ac8;

  margin-bottom: 10px;
}

.card-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;

  color: #404040;

  margin: 0 0 10px 0;
}

.card-description {
  font-size: 12px;
  line-height: 18px;

  color: #505050;

  margin: 0 0 12px 0;
}

.card-author {
  height: 17px;

  font-size: 14px;
  color: #404040;
}

.side-news-column {
  width: 100%;
  height: 321px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-news {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.side-news:last-child {
  border-bottom: none;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/*responsive*/
@media (max-width: 1023px) and (min-width: 768px) {

  .header-center img {
    width: 423px;
    height: 46px;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {
  .nav-right {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {

  .articles-row {
    gap: 6px; /* un po’ più compatto */
  }

  .card {
    flex: 1;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .desc_card {
    font-size: 13px; /* leggermente più piccolo */
  }

  .layout-container.most-read {
    padding-inline: 16px;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {

  .breaking-bar {
    width: 100%;
    max-width: 1024px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {

  .featured-news {
    width: 100%;
    max-width: 1024px;
    padding-inline: 16px;
  }

  .news-left {
    width: 486px;
  }

  .news-right img {
    width: 420px;
  }

}
